<template>
  <div id="main-container">
    <div class="frost-blur">
      <p>Reminders to remember to love, cultivate compassion and spread happiness.</p>
      <ul>
        <li><a href="https://www.realbuddhaquotes.com/" target="_blank">Real Buddha Quotes</a></li>
        <li><a href="https://www.tibettravel.org/tibetan-buddhism/8-auspicious-symbols-of-tibetan-buddhism.html" target="_blank">8 Auspicious Symbols</a></li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
    }
  }
}
</script>

<style lang="scss" scoped>
p {
  font-size: 20px;
}
  #main-container {
    font-size: 14px;
    line-height: 21px;
    width: 95vw;
    height: 92vh;
    text-align: center;
    color: #353638;
    font-family: Merriweather,Georgia,serif;
    background: url('/images/endless-knot.png') no-repeat 50% 50%;
    background-size: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    color: #4767cc;
    font-size: 14px;
  }

  ul {
    padding: 0;
  }

  ul li {
    list-style-type: none;
    margin: 10px 0;
  }

  @import './css/frost-blur.css';

</style>
