<template>
    <div class="background-container frost-blur animated zoomIn slow">
        <div v-if="loading" class="centered">
            <p>Loading...</p>
        </div>
        <div v-else>
            <p class="dharma animated fadeIn delay-1s slow">{{ dharma }}</p>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import fastxml from 'fast-xml-parser';
    import symbolnames from './symbolnames.js'
    import xmloptions from './xmloptions.js'
    import animatecss from "animate.css";

    export default {
        data () {
            return {
                loading: true,
                dharma: "",
                likeButtonDisabled: false,
                title: "New Tab by Still Lake Extension",
                bgObject: {
                    background: "url("+this.getRandomImage()+") no-repeat 50% 50%",
                }
            }
        },
        methods: {
            setBackgroundImage() {
                document.body.style.backgroundImage = "url("+this.getRandomImage()+")";
                document.body.style.backgroundRepeat = "no-repeat";
                document.body.style.backgroundPosition = "50% 99%";
            },
            setTitle() {
                document.title = this.title;
            },
            getRandomImage() {
                var images = require.context('./assets/', false, /\.png$/);
                var names = symbolnames.symbols;
                var name = names[Math.floor(Math.random() * names.length)];
                var image = images('./' + name + ".png");
                return image.default;
            },
            getAQuote(){
                axios.get("https://www.realbuddhaquotes.com/feed/",
                    {headers: {'Accept': 'application/rss+xml'}},
                )
                .then (response => {
                    var tObj;

                    var quoteJson;

                    var items;

                    tObj = fastxml.getTraversalObj(response.data, xmloptions.options);

                    quoteJson = fastxml.convertToJson(tObj, xmloptions.options);

                    items = quoteJson.rss.channel.item;

                    this.dharma = items[parseInt(Math.random() * items.length)].title;

                    this.loading = false;
                })
                .catch(e => {
                    console.log(e);
                });
            }
        },
        mounted() {
            this.setTitle();
            this.setBackgroundImage();
            this.getAQuote();
        }
    }
</script>

<style>
    body {
        height: 98vh;
        text-align: center;
        color: #353638;
        font-size: 22px;
        line-height: 30px;
        font-family: Merriweather,Georgia,serif;
        background-size: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dharma {
        max-width: 800px;
    }

    @import './css/frost-blur.css';

    @import animatecss;
</style>
